[user]
	username = AntonSkochko 
	email = antonskochko@gmail.com 
[color]
	ui = true
[commit]
	template = ~/.gittemplate
[core]
	editor = vim
	autocrlf = input 
[alias]
	new-branch = checkout -b 
	unstage = reset HEAD
[web]
	browser = google-chrome
[credential]
	helper = cache --timeout=7200
